@inherits Finale.WebServer.Mvc.RazorPage<System.Collections.Generic.List<string>>
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title></title>
</head>
<body>
    <p>Items in Model include:</p>
    @foreach (var item in Model) {
        <p>@item</p>
    }
</body>
</html>