@inherits Finale.WebServer.Mvc.RazorPage
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title></title>
</head>
<body>
    <p>Hello World from a page not using Layout.</p>
    <p>ViewData value is @ViewData["value"]</p>
</body>
</html>