@inherits Finale.WebServer.Mvc.RazorPage
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title></title>
</head>
<body>
    <p>This line is from layout page</p>
    @RenderBody()

    @RenderSection("scripts")
</body>
</html>